<%= form_for [@client, @message] do |f| %>
    <% if @message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

          <ul>
            <% @message.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="table">
      <table class="listing form" cellpadding="0" cellspacing="0">
        <tr>
          <th class="full" colspan="2">Formularz nowej wiadomości</th>
        </tr>
        <tr>
          <td><strong><%= f.label :source, 'Źródło' %></strong></td>
          <td> <%= f.select :source, options_for_select(['Telefon', 'Wiadomość e-mail', 'Spotkanie', 'List tradycyjny', 'Inne']) %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :origin, 'Pochodzenie' %></strong></td>
          <td> <%= f.select :origin, options_for_select(%w(Przychodząca Wychodząca Inna)) %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :body, 'Treść' %></strong></td>
          <td> <%= f.text_area :body %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :client_id, "Klient powiązany z wiadomością" %></strong></td>
          <td>
            <%= f.collection_select :client_id, Client.all, :id, :lastname %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :user_id, "Użytkownik tworzący wiadomość" %></strong></td>
          <td>
            <%= f.collection_select :user_id, User.all, :id, :name, {}, {disabled: "disabled"} %>
          </td>
        </tr>
        <tr>
          <td class="full" colspan="2"><%= f.submit "Zapisz" %></td>
        </tr>
      </table>
    </div>
<% end %>
