<% if @message && !@message.new_record? %>
    <h3><%= "Wiadomość" %></h3>
    <ul class="nav">
      <li><%= link_to 'Szczegóły', @message %></li>
      <li><%= link_to 'Edycja', edit_message_path(@message) %></li>
      <li><%= link_to 'Usuń', @message, :confirm => "Czy jesteś pewien?", :method => :delete %></li>
      <li><%= link_to 'Do klienta', @message.clearing.client %></li>
      <li><%= link_to 'Do rozliczenia', @message.clearing %></li>
    </ul>
<% end %>
<h3>Wiadomości</h3>
<ul class="nav">
  <li><%= link_to 'Nowa wiadomość', new_message_path %></li>
  <li><%= link_to 'Lista wiadomości', messages_path %></li>
  <li></li>
</ul>