<% content_for :section_header do %>
    Lista wiadomości
<% end %>

<% content_for :history do %>
    <%= link_to "Rozliczenia w toku", root_url %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Lista wszystkich wiadomości utworzonych w systemie dla klientów' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Źródło' %>
          <%= content_tag :th, 'Pochodzenie' %>
          <%= content_tag :th, 'Treść' %>
          <%= content_tag :th, 'Użytkownik' %>
          <%= content_tag :th, 'Data utworzenia' %>
          <%= content_tag :th, 'Rozliczenie' %>
          <%= content_tag :th, 'Klient' %>
          <%= content_tag :th, 'Akcje' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @messages) do |message| %>
         <%= render message %>
      <% end %>
      </tbody>
    </table>
<% end %>