<% content_for :section_header do %>
    Szczegóły wiadomości
<% end %>

<% content_for :history do %>
    <%= link_to "Strona główna", root_url %> / <%= link_to "Szczegóły wiadomości", message_path(@message) %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Podgląd danych wiadomości' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th class="full" colspan="2">Szczegóły rekordu wiadomości</th>
    </tr>
    <tr>
      <td>Rozliczenie</td>
      <td><strong><%= link_to @message.clearing.title, client_path(@message.clearing) %></strong></td>
    </tr>
    <tr>
      <td>Klient</td>
      <td><strong><%= link_to @message.clearing.client.lastname, client_path(@message.clearing.client) %></strong></td>
    </tr>
    <%= check_blank 'Źródło', @message.source %>
    <%= check_blank 'Pochodzenie', @message.origin %>
    <tr>
      <td>Data utworzenia</td>
      <td><strong><%= l @message.created_at %></strong></td>
    </tr>
    <tr>
      <td>Użytkownik</td>
      <td><strong><%= link_to @message.user.name, user_path(@message.user) %></strong></td>
    </tr>
    <tr>
      <th class="full" colspan="2">Treść wiadomości</th>
    </tr>
    <tr>
      <td colspan="2"><%= @message.body.blank? ? "Brak" : @message.body %></td>
    </tr>
  </table>
</div>