<% content_for :section_header do %>
    Edycja danych konta
<% end %>

<% content_for :history do %>
    <%= link_to "Strona główna", root_url %> / <%= link_to "Edycja konta", edit_user_registration_path %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <strong class="h">Szybka pomoc</strong>

    <div class="box">
      W tej części można zmienić dane podane przy rejestracji.
    </div>

    <strong class="h">Szybka pomoc</strong>

    <div class="box">
      Jeżeli nie chcesz zmieniać hasła, pozostaw pole "Nowe hasło" puste.
    </div>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
    <%= devise_error_messages! %>
    <div class="table">
      <table class="listing form" cellpadding="0" cellspacing="0">
        <tr>
          <th class="full" colspan="2">Formularz edycji danych</th>
        </tr>
        <tr>
          <td width="172"><strong><%= f.label :name, 'Nazwisko' %></strong></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :email %></strong></td>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :password, 'Nowe hasło' %></strong></td>
          <td><%= f.password_field :password, :autocomplete => "off" %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :password_confirmation, 'Potwierdzenie nowego hasła' %></strong></td>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :current_password, 'Stare hasło' %></strong></td>
          <td><%= f.password_field :current_password %></td>
        </tr>
        <tr>
          <td class="full" colspan="2"><%= f.submit "Zapisz" %></td>
        </tr>
      </table>
    </div>
<% end %>

<%= link_to "Usuń konto", registration_path(resource_name), :confirm => "Czy jesteś pewien?", :method => :delete %>