<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Nazwa' %>
          <%= content_tag :th, 'Opis' %>
          <%= content_tag :th, 'Autor' %>
          <%= content_tag :th, 'Rozliczenie' %>
          <%= content_tag :th, 'Plik' %>
          <%= content_tag :th, 'Data utworzenia' %>
          <%= content_tag :th, 'Akcje' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, enclosures) do |enclosure| %>
          <%= content_tag :td, check_blank_value(enclosure.name) %>
          <%= content_tag :td, check_blank_value(enclosure.description) %>
          <%= content_tag :td, check_blank_value(enclosure.user.name) %>
          <%= content_tag :td, (enclosure.clearing.nil? ? 'Brak' : link_to(enclosure.clearing.title, clearing_path(enclosure.clearing))), class: 'style1' %>
          <%= content_tag :td, link_to("Pobierz", enclosure.attachment.url) %>
          <%= content_tag :td, check_blank_value(enclosure.created_at) %>
          <%= content_tag :td, class: 'actions' do %>
              <%= link_to image_tag('info.png'), enclosure, title: "Szczegółowe informacje" %>
              <%= link_to image_tag('modify.png'), edit_enclosure_path(enclosure), title: "Edycja rozliczenia" %>
              <%= link_to image_tag('delete.png'), enclosure, :confirm => "Czy jesteś pewien?", :method => :delete, title: "Usuwanie" %>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% end %>