<% content_for :section_header do %>
    Szczegóły konta
<% end %>

<% content_for :history do %>
    <%= link_to "Rozliczenia w toku", root_url %> / <%= link_to "Szczegóły konta", user_path(current_user) %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Na tej stronie znajdują się wszystkie informacje dostępne o użytkowniku systemu.' %>
<% end %>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th class="full" colspan="2">Szczegóły konta użytkownika</th>
    </tr>
    <%= check_blank 'Nazwisko', @user.name %>
    <%= check_blank 'E-mail', @user.email %>
    <tr>
      <td>Administrator</td>
      <td><strong><%= @user.admin? ? 'Tak' : 'Nie' %></strong></td>
    </tr>
    <tr>
      <td>Data rejestracji</td>
      <td><strong><%= l @user.created_at %></strong></td>
    </tr>
  </table>
</div>

<h3>Rozliczenia stworzone przez użytkownika</h3>
<%= render partial: 'clearings/clearings_table', locals: {clearings: @user.clearings} %>

<h3>Wiadomości stworzone przez użytkownika</h3>
<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Źródło' %>
          <%= content_tag :th, 'Pochodzenie' %>
          <%= content_tag :th, 'Treść' %>
          <%= content_tag :th, 'Użytkownik' %>
          <%= content_tag :th, 'Data utworzenia' %>
          <%= content_tag :th, 'Rozliczenie' %>
          <%= content_tag :th, 'Klient' %>
          <%= content_tag :th, 'Akcje' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @user.messages) do |message| %>
          <%= render message %>
      <% end %>
      </tbody>
    </table>
<% end %>

<h3>Klienci stworzeni przez użytkownika</h3>
<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Identyfikator' %>
          <%= content_tag :th, 'Nazwisko' %>
          <%= content_tag :th, 'Imię' %>
          <%= content_tag :th, 'Miasto' %>
          <%= content_tag :th, 'Telefon kom' %>
          <%= content_tag :th, 'E-mail' %>
          <%= content_tag :th, 'Akcje' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @user.clients) do |client| %>
          <%= content_tag :td, (link_to client.identifier, client_path(client)), class: 'style1' %>
          <%= content_tag :td, (link_to client.lastname, client_path(client)), class: 'style1' %>
          <%= content_tag :td, client.firstname %>
          <%= content_tag :td, client.address.city %>
          <%= content_tag :td, client.mobile %>
          <%= content_tag :td, client.email %>
          <%= content_tag :td, class: 'actions' do %>
              <%= link_to image_tag('info.png'), client, title: "Szczegółowe informacje" %>
              <%= link_to image_tag('modify.png'), edit_client_path(client), title: "Edycja" %>
              <%= link_to image_tag('delete.png'), client, :confirm => "Czy jesteś pewien?", :method => :delete, title: "Usuwanie" %>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% end %>