<%= form_for(@client) do |f| %>
    <% if @client.errors.any? %>
        <div id="error_explanation">
          <h2><%= "Wykrytych błędów: #{@client.errors.count}" %></h2>

          <ul>
            <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="table">
      <table class="listing form" cellpadding="0" cellspacing="0">
        <tr>
          <th class="full" colspan="2">Formularz klienta</th>
        </tr>
        <tr>
          <td><strong><%= f.label :lastname, 'Nazwisko' %></strong></td>
          <td> <%= f.text_field :lastname %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :firstname, 'Imię' %></strong></td>
          <td> <%= f.text_field :firstname %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :middlename, 'Drugie imię' %></strong></td>
          <td> <%= f.text_field :middlename %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :birthdate, 'Data urodzenia' %></strong></td>
          <td> <%= f.datepicker :birthdate, class: 'datepicker' %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :telephone, 'Telefon stacjonarny' %></strong></td>
          <td> <%= f.text_field :telephone %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :mobile, 'Telefon komórkowy' %></strong></td>
          <td><%= f.text_field :mobile %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :email, 'E-mail' %></strong></td>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <th class="full" colspan="2">Adres zameldowania</th>
        </tr>

        <%= f.fields_for :address do |address_form| %>
            <tr>
              <td><strong><%= address_form.label :street, "Ulica, nr domu/mieszkania" %></strong></td>
              <td><%= address_form.text_field :street %></td>
            </tr>
            <tr>
              <td><strong><%= address_form.label :city, "Miasto" %></strong></td>
              <td><%= address_form.text_field :city %></td>
            </tr>
            <tr>
              <td><strong><%= address_form.label :code, "Kod pocztowy" %></strong></td>
              <td><%= address_form.text_field :code %></td>
            </tr>
            <%= address_form.hidden_field :kind, value: 'address' %>
            <!--
            <% unless address_form.object.new_record? %>
                <tr>
                  <td><strong><%= address_form.label :_destroy, 'Usuń' %></strong></td>
                  <td><%= address_form.check_box :_destroy %></td>
                </tr>
            <% end %>
            -->
        <% end %>
        <tr>
          <th class="full" colspan="2">Adres korespondencyjny</th>
        </tr>
        <%= f.fields_for :mailing_address do |mailing_address_form| %>
            <tr>
              <td><strong><%= mailing_address_form.label :street, "Ulica, nr domu/mieszkania" %></strong></td>
              <td><%= mailing_address_form.text_field :street %></td>
            </tr>
            <tr>
              <td><strong><%= mailing_address_form.label :city, "Miasto" %></strong></td>
              <td><%= mailing_address_form.text_field :city %></td>
            </tr>
            <tr>
              <td><strong><%= mailing_address_form.label :code, "Kod pocztowy" %></strong></td>
              <td><%= mailing_address_form.text_field :code %></td>
            </tr>
            <%= mailing_address_form.hidden_field :kind, value: 'mailing_address' %>
            <!--
            <% unless mailing_address_form.object.new_record? %>
                <tr>
                  <td><strong><%= mailing_address_form.label :_destroy, 'Usuń' %></strong></td>
                  <td><%= mailing_address_form.check_box :_destroy %></td>
                </tr>
            <% end %>
            -->
        <% end %>
        <tr>
          <th class="full" colspan="2">Stan cywilny / rodzina</th>
        </tr>
        <tr>
          <td><strong><%= f.label :married, 'Stan cywilny' %></strong></td>
          <td> <%= f.select :married, options_for_select([['Panna/Kawaler', 0], ['Mężatka/Żonaty', 1], ['Rozwiedziona/Rozwiedziony', 2], ['Wdowa/Wdowiec', 3]], @client.married) %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :married_date, 'Data ślubu/rozwodu' %></strong></td>
          <td><%= f.datepicker :married_date, class: 'datepicker' %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :married_data, 'Informacje o żonie/mężu' %></strong></td>
          <td><%= f.text_area :married_data, :rows => 2 %></td>
        </tr>
        <tr>
          <td><strong><%= f.label :children_data, 'Informacje o dzieciach' %></strong></td>
          <td><%= f.text_area :children_data, :rows => 2 %></td>
        </tr>
        <tr>
          <th class="full" colspan="2">Inne informacje</th>
        </tr>
        <tr>
          <td><strong><%= f.label :description, 'Opis / uwagi' %></strong></td>
          <td><%= f.text_area :description, :rows => 2 %></td>
        </tr>
        <tr>
          <td class="full" colspan="2"><%= f.submit "Zapisz" %></td>
        </tr>
      </table>
    </div>
<% end %>
