<% content_for :section_header do %>
    Lista klientów
<% end %>

<% content_for :history do %>
    <%= link_to "Strona główna", root_url %> / <%= link_to "Lista klientów", clients_path %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Lista wszystkich rekordów z bazy danych' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Nazwisko' %>
          <%= content_tag :th, 'Identyfikator' %>
          <%= content_tag :th, 'Imię' %>
          <%= content_tag :th, 'Miasto' %>
          <%= content_tag :th, 'Telefon kom' %>
          <%= content_tag :th, 'E-mail' %>
          <%= content_tag :th, 'Akcje' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @clients) do |client| %>
          <%= content_tag :td, (link_to client.lastname, client_path(client)), class: 'style1' %>
          <%= content_tag :td, (link_to client.identifier, client_path(client)), class: 'style1' %>
          <%= content_tag :td, check_blank_value(client.firstname) %>
          <%= content_tag :td, check_blank_value(client.address.city) %>
          <%= content_tag :td, check_blank_value(client.mobile) %>
          <%= content_tag :td, check_blank_value(client.email) %>
          <%= content_tag :td, class: 'actions' do %>
              <%= link_to image_tag('info.png'), client, title: "Szczegółowe informacje" %>
              <%= link_to image_tag('modify.png'), edit_client_path(client), title: "Edycja" %>
              <%= link_to image_tag('delete.png'), client, :confirm => "Czy jesteś pewien?", :method => :delete, title: "Usuwanie" %>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% end %>