<% content_for :section_header do %>
    Szczegóły klienta
<% end %>

<% content_for :history do %>
    <%= link_to "Strona główna", root_url %> / <%= link_to "Szczegóły klienta", client_path(@client) %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Podgląd danych klienta' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th class="full" colspan="2">Szczegóły rekordu klienta</th>
    </tr>
    <%= check_blank 'Identyfikator', @client.identifier %>
    <%= check_blank 'Nazwisko', @client.lastname %>
    <%= check_blank 'Imię', @client.firstname %>
    <%= check_blank 'Telefon stacjonarny', @client.telephone %>
    <%= check_blank 'Telefon komórkowy', @client.mobile %>
    <%= check_blank 'E-mail', @client.email %>
    <tr>
      <td>Data urodzenia</td>
      <td><strong><%= l @client.birthdate, format: :default %></strong></td>
    </tr>
    <tr>
      <th class="full" colspan="2">Adres zameldowania</th>
    </tr>
    <%= check_blank 'Miasto', @client.address.city %>
    <%= check_blank 'Ulica nr domu/mieszkania', @client.address.street %>
    <%= check_blank 'Kod pocztowy', @client.address.code %>
    <tr>
      <th class="full" colspan="2">Adres korespondencyjny</th>
    </tr>
    <%= check_blank 'Miasto', @client.mailing_address.city %>
    <%= check_blank 'Ulica nr domu/mieszkania', @client.mailing_address.street %>
    <%= check_blank 'Kod pocztowy', @client.mailing_address.code %>
    <tr>
      <th class="full" colspan="2">Opis / uwagi</th>
    </tr>
    <tr>
      <td colspan="2"><%= @client.description.blank? ? "Brak" : @client.description %></td>
    </tr>
  </table>
</div>

<h3>Wiadomości klienta</h3>
<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Klient' %>
          <%= content_tag :th, 'Źródło' %>
          <%= content_tag :th, 'Pochodzenie' %>
          <%= content_tag :th, 'Treść' %>
          <%= content_tag :th, 'Użytkownik' %>
          <%= content_tag :th, 'Data utworzenia' %>
          <%= content_tag :th, 'Akcje' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @client.messages) do |message| %>
          <%= render message %>
      <% end %>
      </tbody>
    </table>
<% end %>