<% content_for :section_header do %>
    Szczegóły klienta
<% end %>

<% content_for :history do %>
    <%= link_to "Strona główna", root_url %> / <%= link_to "Szczegóły klienta", client_path(@client) %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Podgląd danych klienta' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th class="full" colspan="2">Szczegóły rekordu klienta</th>
    </tr>
    <%= check_blank 'Identyfikator', @client.identifier %>
    <%= check_blank 'Nazwisko', @client.lastname %>
    <%= check_blank 'Imię', @client.firstname %>
    <%= check_blank 'Telefon stacjonarny', @client.telephone %>
    <%= check_blank 'Telefon komórkowy', @client.mobile %>
    <%= check_blank 'E-mail', @client.email %>
    <tr>
      <td>Data urodzenia</td>
      <td><strong><%= l @client.birthdate, format: :default %></strong></td>
    </tr>
    <tr>
      <th class="full" colspan="2">Adres zameldowania</th>
    </tr>
    <%= check_blank 'Miasto', @client.address.city %>
    <%= check_blank 'Ulica nr domu/mieszkania', @client.address.street %>
    <%= check_blank 'Kod pocztowy', @client.address.code %>
    <tr>
      <th class="full" colspan="2">Adres korespondencyjny</th>
    </tr>
    <%= check_blank 'Miasto', @client.mailing_address.city %>
    <%= check_blank 'Ulica nr domu/mieszkania', @client.mailing_address.street %>
    <%= check_blank 'Kod pocztowy', @client.mailing_address.code %>
    <tr>
      <th class="full" colspan="2">Opis / uwagi</th>
    </tr>
    <tr>
      <td colspan="2"><%= @client.description.blank? ? "Brak" : @client.description %></td>
    </tr>
  </table>
</div>

<h3>Rozliczenia klienta</h3>
<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Kraj' %>
          <%= content_tag :th, 'Rok rozliczenia' %>
          <%= content_tag :th, 'Data złożenia wniosku' %>
          <%= content_tag :th, 'Data wysłania do urzędu' %>
          <%= content_tag :th, 'Zwrot' %>
          <%= content_tag :th, 'Data decyzji' %>
          <%= content_tag :th, 'Prowizja' %>
          <%= content_tag :th, 'Termin płatności' %>
          <%= content_tag :th, 'Data wpłaty' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @client.clearings) do |clearing| %>
          <%= content_tag :td, (link_to(clearing.country.name, country_path(clearing.country)) unless clearing.country.nil?), class: 'style1' %>
          <%= content_tag :td, check_blank_value(clearing.year) %>
          <%= content_tag :td, check_blank_value(clearing.application_date) %>
          <%= content_tag :td, check_blank_value(clearing.office_send_date) %>
          <%= content_tag :td, check_blank_value(clearing.rebate_final) %>
          <%= content_tag :td, check_blank_value(clearing.decision_date) %>
          <%= content_tag :td, check_blank_value(clearing.commission_final) %>
          <%= content_tag :td, check_blank_value(clearing.maturity_date) %>
          <%= content_tag :td, check_blank_value(clearing.payment_date) %>
      <% end %>
      </tbody>
    </table>
<% end %>

<h3>Wiadomości klienta</h3>
<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Źródło' %>
          <%= content_tag :th, 'Pochodzenie' %>
          <%= content_tag :th, 'Treść' %>
          <%= content_tag :th, 'Użytkownik' %>
          <%= content_tag :th, 'Data utworzenia' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @client.messages) do |message| %>
          <%= render message %>
      <% end %>
      </tbody>
    </table>
<% end %>