<% content_for :section_header do %>
    Szczegóły klienta
<% end %>

<% content_for :history do %>
    <%= link_to "Rozliczenia w toku", root_url %> / <%= link_to "Szczegóły klienta", client_path(@client) %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Podgląd danych klienta' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th class="full" colspan="2">Szczegóły rekordu klienta</th>
    </tr>
    <%= check_blank 'Identyfikator', @client.identifier %>
    <%= check_blank 'Nazwisko', @client.lastname %>
    <%= check_blank 'Imię', @client.firstname %>
    <%= check_blank 'Drugie imię', @client.middlename %>
    <%= check_blank 'Telefon stacjonarny', @client.telephone %>
    <%= check_blank 'Telefon komórkowy', @client.mobile %>
    <%= check_blank 'E-mail', @client.email %>
    <tr>
      <td>Data urodzenia</td>
      <td><strong>
        <% if @client.birthdate.blank? %>
            Brak
        <% else %>
            <%= l @client.birthdate %>
        <% end %>
      </strong></td>
    </tr>
    <tr>
      <th class="full" colspan="2">Adres zameldowania</th>
    </tr>
    <%= check_blank 'Miasto', @client.address.city %>
    <%= check_blank 'Ulica nr domu/mieszkania', @client.address.street %>
    <%= check_blank 'Kod pocztowy', @client.address.code %>
    <tr>
      <th class="full" colspan="2">Adres korespondencyjny</th>
    </tr>
    <%= check_blank 'Miasto', @client.mailing_address.city %>
    <%= check_blank 'Ulica nr domu/mieszkania', @client.mailing_address.street %>
    <%= check_blank 'Kod pocztowy', @client.mailing_address.code %>
    <tr>
      <th class="full" colspan="2">Stan cywilny / rodzina</th>
    </tr>
    <%= check_blank 'Stan cywilny', @client.get_married_description %>
    <%= check_blank('Data ślubu/rozwodu', check_blank_value(@client.married_date)) %>
    <%= check_blank('Informacje o żonie/mężu', @client.married_data) %>
    <%= check_blank('Informacje o dzieciach', @client.children_data) %>
    <tr>
      <th class="full" colspan="2">Opis / uwagi</th>
    </tr>
    <tr>
      <td colspan="2"><%= @client.description.blank? ? "Brak" : @client.description %></td>
    </tr>
    <tr>
      <th class="full" colspan="2">Inne informacje</th>
    </tr>
    <tr>
      <%= check_blank 'Użytkownik tworzący', @client.user.try(:name) %>
    </tr>
  </table>
</div>

<h3>Rozliczenia klienta</h3>
<%= render partial: 'clearings/clearings_table', locals: {clearings: @client.clearings} %>

<h3>Rachunki klienta</h3>
<%= render partial: 'bills/bills_table', locals: {bills: @client.bills} %>

<h3>Wiadomości klienta</h3>
<%= render partial: 'messages/messages_table', locals: {messages: @client.messages} %>

<h3>Załączniki klienta(zbiorcze z rozliczeń)</h3>
<%= render partial: 'enclosures/enclosures_table', locals: {enclosures: @client.enclosures} %>