<% content_for :section_header do %>
    Raport rozliczeń wg agentów
<% end %>

<% content_for :history do %>
    <%= link_to "Rozliczenia w toku", root_url %> / <%= link_to 'Raporty', home_reports_path %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'W tej sekcji możliwe jest wygenerowanie raportów w możliwych formatach' %>
<% end %>

<h3>Raport rozliczeń wg agentów</h3>

<%= search_form_for(@search, url: home_clearings_report_path) do |f| %>
    <fieldset>
      <legend>Rozliczenie</legend>
      <ul>
        <li>
          <%= f.label :office_send_date_gteq, 'Data rozliczenia od' %>
          <%= f.datepicker :office_send_date_gteq %>
        </li>
        <li>
          <%= f.label :office_send_date_lteq, 'Data rozliczenia do' %>
          <%= f.datepicker :office_send_date_lteq %>
        </li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>Agent</legend>
      <ul>
        <li>
          <%= f.label :agent_id_eq, 'Nazwa agenta' %>
          <%= f.collection_select :agent_id_eq, Agent.all_cached, :id, :name, include_blank: "Wszyscy" %>
        </li>
        <li>
          <%= f.label :agent_date_gteq, 'Data rozliczenia z agentem od' %>
          <%= f.datepicker :agent_date_gteq %>
        </li>
        <li>
          <%= f.label :agent_date_lteq, 'Data rozliczenia z agentem do' %>
          <%= f.datepicker :agent_date_lteq %>
        </li>
        <li>
          <%= f.label :agent_date_present, 'Data rozliczenia jest wypełniona' %>
          <%= f.check_box :agent_date_present %>
        </li>
      </ul>
    </fieldset>

    <%= f.submit 'Generuj raport w formacie html', name: nil %>
    <%= f.submit 'Generuj raport w formacie pdf' %>
    <%= f.submit 'Generuj raport w formacie csv' %>
<% end %>

<% if @clearings %>
    <br/>
    <h3>Wyniki raportu rozliczeń wg agentów</h3>
    <%= render partial: 'clearings/clearings_table', locals: {clearings: @clearings} %>
<% end %>