<% content_for :section_header do %>
    Raporty
<% end %>

<% content_for :history do %>
    <%= link_to "Rozliczenia w toku", root_url %> / <%= link_to 'Raporty', {controller: 'home', action: 'reports'} %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'W tej sekcji możliwe jest wygenerowanie raportów w możliwych formatach' %>
<% end %>

<h3>Raport rozliczeń</h3>
<p><%= button_to 'Idź do raportu', home_clearings_report_path, method: :get %></p>


<h3>Raport rachunków</h3>
<p><%= button_to 'Idź do raportu', home_bills_report_path, method: :get %></p>

<!--
<h3>Raport rozliczeń w danym roku dla poszczególnych krajów</h3>
<p><%# button_to 'Idź do raportu', home_countries_report_path, method: :get %></p>
-->