<%= form_for(@bill) do |f| %>
    <% if @bill.errors.any? %>
        <div id="error_explanation">
          <h2><%= "Wykrytych błędów: #{@bill.errors.count}" %></h2>

          <ul>
            <% @bill.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="table">
      <table class="listing form" cellpadding="0" cellspacing="0">
        <tr>
          <th class="full" colspan="2">Formularz nowego rachunku</th>
        </tr>
        <tr>
          <td><strong><%= f.label :number_manual, "Numer rachunku wpisany ręcznie" %></strong></td>
          <td>
            <%= f.check_box :number_manual %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :number, "Numer rachunku" %></strong></td>
          <td>
            <% if @bill.new_record? %>
                <%= f.text_field :number, value: "#{Company.first.bill_number.to_i + 1}/#{Date.current.year}", readonly: true %>
            <% else %>
                <% if @bill.number_manual? %>
                    <%= f.text_field :number %>
                <% else %>
                    <%= f.text_field :number, readonly: true %>
                <% end %>
            <% end %>
          </td>
        </tr>
        <% if @bill.new_record? %>
            <tr>
              <td><strong><%= f.label :clearing_id, "Rozliczenie powiązane z rachunkiem" %></strong></td>
              <td>
                <%= f.collection_select :clearing_id, Clearing.without_bill, :id, :title, {prompt: true}, {'data-message' => Clearing.generate_final_commissions} %>
              </td>
            </tr>
        <% else %>
            <tr>
              <td><strong><%= f.label :clearing_id, "Rozliczenie powiązane z rachunkiem" %></strong></td>
              <td>
                <%= f.collection_select :clearing_id, [@bill.clearing], :id, :title, {prompt: true}, {'data-message' => Clearing.generate_final_commissions} %>
              </td>
            </tr>
        <% end %>

        <tr>
          <td><strong><%= f.label :company_id, "Firma wystawiająca" %></strong></td>
          <td>

            <%= f.collection_select :company_id, Company.all_cached, :id, :name
            %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :issue_date, "Data wystawienia rachunku" %></strong></td>
          <td>
            <%= f.datepicker :issue_date, class: 'datepicker' %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :maturity_date, "Termin płatności" %></strong></td>
          <td>
            <%= f.datepicker :maturity_date, class: 'datepicker' %>
          </td>
        </tr>

        <tr>
          <td><strong><%= f.label :payment_form, "Forma płatności" %></strong></td>
          <td>
            <%= f.select :payment_form, options_for_select(%w(Pobranie Gotówka Przelew), @bill.payment_form) %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :title, "Tytuł usługi" %></strong></td>
          <td>
            <%= f.select :title, options_for_select(['Usługa inkasa', 'Usługa biurowa'], @bill.title) %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :units, "Jednostka miary" %></strong></td>
          <td>
            <%= f.text_field :units, value: @bill.units.blank? ? "szt." : @bill.units %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :total_manual, "Kwota końcowa wpisana ręcznie" %></strong></td>
          <td>
            <%= f.check_box :total_manual %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :total, "Kwota końcowa" %></strong></td>
          <td>
            <% if @bill.total_manual? %>
                <%= f.decimal_field :total %>
            <% else %>
                <%= f.decimal_field :total, readonly: true %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :comment, "Dodatkowe informacje" %></strong></td>
          <td>
            <%= f.text_area :comment, :rows => 2 %>
          </td>
        </tr>
        <tr>
          <td><%= f.submit "Zapisz" %></td>
        </tr>
      </table>
    </div>
<% end %>