<% content_for :section_header do %>
    Lista wystawionych rachunków
<% end %>

<% content_for :history do %>
    <%= link_to "Strona główna", root_url %> /<%= link_to "Lista rachunków", bills_path %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Lista wszystkich rekordów rachunków z bazy danych' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Numer' %>
          <%= content_tag :th, 'Firma' %>
          <%= content_tag :th, 'Rozliczenie' %>
          <%= content_tag :th, 'Data wystawienia' %>
          <%= content_tag :th, 'Termin płatności' %>
          <%= content_tag :th, 'Data zapłaty' %>
          <%= content_tag :th, 'Akcje' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @bills) do |bill| %>
          <%= content_tag :td, (link_to(bill.number, bill) unless bill.number.nil?), class: 'style1' %>
          <%= content_tag :td, (link_to(bill.company.name, company_path(bill.company)) unless bill.company.nil?), class: 'style1' %>
          <%= content_tag :td, (link_to(bill.clearing.title, clearing_path(bill.clearing)) unless bill.clearing.nil?), class: 'style1' %>
          <%= content_tag :td, check_blank_value(bill.created_at.to_date) %>
          <%= content_tag :td, check_blank_value(bill.maturity_date) %>
          <%= content_tag :td, check_blank_value(bill.payment_date) %>
          <%= content_tag :td, class: 'actions' do %>
              <%= link_to image_tag('info.png'), bill, title: "Szczegółowe informacje" %>
              <%= link_to image_tag('modify.png'), edit_bill_path(bill), title: "Edycja" %>
              <%= link_to image_tag('delete.png'), bill, :confirm => "Czy jesteś pewien?", :method => :delete, title: "Usuwanie" %>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% end %>