<% content_for :section_header do %>
    Szczegóły rachunku
<% end %>

<% content_for :history do %>
    <%= link_to "Rozliczenia w toku", root_url %> / <%= link_to "Szczegóły rachunku", bill_path(@bill) %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Podgląd danych wystawionego rachunku' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th class="full" colspan="2">Szczegóły rekordu rachunku</th>
    </tr>
    <%= check_blank 'Rozliczenie', @bill.clearing.title %>
    <%= check_blank 'Numer', @bill.number %>
    <%= check_blank 'Firma', @bill.company.name %>
    <%= check_blank('Data wystawienia', check_blank_value(@bill.issue_date)) %>
    <%= check_blank('Termin płatności', check_blank_value(@bill.maturity_date)) %>
    <%= check_blank('Kwota końcowa', number_with_precision(@bill.total, precision: 2, delimiter: " ")) %>
    <%= check_blank 'Waluta', @bill.currency %>
    <%= check_blank 'Forma płatności', @bill.payment_form %>
    <%= check_blank 'Tytuł usługi', @bill.title %>
    <%= check_blank 'Jednostka miary', @bill.units %>
    <%= check_blank 'Użytkownik wystawiający', @bill.user.name %>
    <tr>
      <th class="full" colspan="2">Dodatkowe informacje</th>
    </tr>
    <tr>
      <td colspan="2"><%= @bill.comment.blank? ? "Brak" : @bill.comment %></td>
    </tr>
  </table>
</div>