<%= form_for(@agent) do |f| %>
    <% if @agent.errors.any? %>
        <div id="error_explanation">
          <h2><%= "Wykrytych błędów: #{@agent.errors.count}" %></h2>

          <ul>
            <% @agent.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="table">
      <table class="listing form" cellpadding="0" cellspacing="0">
        <tr>
          <th class="full" colspan="2">Formularz danych agenta pośredniczącego</th>
        </tr>
        <tr>
          <td><strong><%= f.label :name, 'Nazwa' %></strong></td>
          <td> <%= f.text_field :name %></td>
        </tr>
        <tr>
          <td class="full" colspan="2"><%= f.submit "Zapisz" %></td>
        </tr>
      </table>
    </div>
<% end %>