<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Nazwa firmy' %>
          <%= content_tag :th, 'Nazwa skrócona firmy' %>
          <%= content_tag :th, 'Ulica' %>
          <%= content_tag :th, 'Miasto' %>
          <%= content_tag :th, 'Kod' %>
          <%= content_tag :th, 'NIP' %>
          <%= content_tag :th, 'Nr rachunku' %>
          <%= content_tag :th, 'Akcje' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @companies) do |company| %>
          <%= content_tag :td, (link_to company.name, company_path(company)), class: 'style1' %>
          <%= content_tag :td, (link_to company.short, company_path(company)), class: 'style1' %>
          <%= content_tag :td, check_blank_value(company.address.street) %>
          <%= content_tag :td, check_blank_value(company.address.city) %>
          <%= content_tag :td, check_blank_value(company.address.code) %>
          <%= content_tag :td, check_blank_value(company.tax_number) %>
          <%= content_tag :td, check_blank_value(company.bill_number) %>
          <%= content_tag :td do %>
              <%= link_to image_tag('info.png'), company %>
              <%= link_to image_tag('modify.png'), edit_company_path(company) %>
              <%= link_to image_tag('delete.png'), company, :confirm => "Czy jesteś pewien?", :method => :delete %>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% end %>