<%= form_for(@clearing) do |f| %>
  <% if @clearing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clearing.errors.count, "error") %> prohibited this clearing from being saved:</h2>

      <ul>
      <% @clearing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :tax_number %><br />
    <%= f.text_field :tax_number %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :application_date %><br />
    <%= f.date_select :application_date %>
  </div>
  <div class="field">
    <%= f.label :commission_percent %><br />
    <%= f.text_field :commission_percent %>
  </div>
  <div class="field">
    <%= f.label :commission_min %><br />
    <%= f.text_field :commission_min %>
  </div>
  <div class="field">
    <%= f.label :commission_currency %><br />
    <%= f.text_field :commission_currency %>
  </div>
  <div class="field">
    <%= f.label :rebate_calc %><br />
    <%= f.text_field :rebate_calc %>
  </div>
  <div class="field">
    <%= f.label :office_send_date %><br />
    <%= f.date_select :office_send_date %>
  </div>
  <div class="field">
    <%= f.label :rebate_final %><br />
    <%= f.text_field :rebate_final %>
  </div>
  <div class="field">
    <%= f.label :decision_date %><br />
    <%= f.date_select :decision_date %>
  </div>
  <div class="field">
    <%= f.label :commission_final %><br />
    <%= f.text_field :commission_final %>
  </div>
  <div class="field">
    <%= f.label :commission_date %><br />
    <%= f.date_select :commission_date %>
  </div>
  <div class="field">
    <%= f.label :exchange_rate %><br />
    <%= f.text_field :exchange_rate %>
  </div>
  <div class="field">
    <%= f.label :maturity_date %><br />
    <%= f.date_select :maturity_date %>
  </div>
  <div class="field">
    <%= f.label :payment_date %><br />
    <%= f.date_select :payment_date %>
  </div>
  <div class="field">
    <%= f.label :account_number %><br />
    <%= f.text_field :account_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
