<%= form_for(@clearing) do |f| %>
    <% if @clearing.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@clearing.errors.count, "error") %> prohibited this clearing from being saved:</h2>

          <ul>
            <% @clearing.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="table">
      <table class="listing form" cellpadding="0" cellspacing="0">
        <tr>
          <th class="full" colspan="2">Formularz nowej wiadomości</th>
        </tr>
        <tr>
          <td><strong><%= f.label :client_id, "Klient powiązany z rozliczeniem" %></strong></td>
          <td>
            <%= f.collection_select :client_id, Client.all_cached, :id, :lastname %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :country_id, "Kraj rozliczenia" %></strong></td>
          <td>
            <%= f.collection_select :country_id, Country.all_cached, :id, :name %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :tax_number, "Numer podatkowy" %></strong></td>
          <td>
            <%= f.text_field :tax_number %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :year, "Rok rozliczenia" %></strong></td>
          <td>
            <%= f.text_field :year %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :application_date, "Data złożenia wniosku" %></strong></td>
          <td>
            <%= f.datepicker :application_date %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :commission_percent, "Prowizja %" %></strong></td>
          <td>
            <%= f.text_field :commission_percent %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :commission_min, "Prowizja min" %></strong></td>
          <td>
            <%= f.text_field :commission_min %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :commission_currency, "Waluta prowizji" %></strong></td>
          <td>
            <%= f.text_field :commission_currency %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :rebate_calc, "Wyliczona kwota zwrotu" %></strong></td>
          <td>
            <%= f.text_field :rebate_calc %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :office_send_date, "Data wysłania do urzędu" %></strong></td>
          <td>
            <%= f.datepicker :office_send_date %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :rebate_final, "Kwota zwrotu" %></strong></td>
          <td>
            <%= f.text_field :rebate_final %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :decision_date, "Data wydania decyzji" %></strong></td>
          <td>
            <%= f.datepicker :decision_date %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :description, "Opis / uwagi" %></strong></td>
          <td>
            <%= f.text_area :description %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :agent_id, "Agent pośredniczący" %></strong></td>
          <td>
            <%= f.collection_select :agent_id, Agent.all_cached, :id, :name, include_blank: "Brak" %>
          </td>
        </tr>
        <tr>
          <td><strong><%= f.label :user_id, "Użytkownik tworzący rozliczenie" %></strong></td>
          <td>
            <%= f.collection_select :user_id, User.all_cached, :id, :name, {}, {disabled: "disabled"} %>
          </td>
        </tr>
        <tr>
          <td class="full" colspan="2"><%= f.submit "Zapisz" %></td>
        </tr>
      </table>
    </div>
<% end %>
