<%= form_for(@clearing) do |f| %>
    <% if @clearing.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@clearing.errors.count, "error") %> prohibited this clearing from being saved:</h2>

          <ul>
            <% @clearing.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="table">
    <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th class="full" colspan="2">Podstawowe informacje</th>
    </tr>
    <tr>
      <td><strong><%= f.label :client_id, "Klient powiązany z rozliczeniem" %></strong></td>
      <td>
        <%= f.collection_select :client_id, Client.all_cached, :id, :lastname %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :country_id, "Kraj rozliczenia" %></strong></td>
      <td>
        <%= f.collection_select :country_id, Country.all_cached, :id, :name %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :tax_number, "Numer podatkowy" %></strong></td>
      <td>
        <%= f.text_field :tax_number %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :year, "Rok rozliczenia" %></strong></td>
      <td>
        <%= f.text_field :year %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :application_date, "Data złożenia wniosku" %></strong></td>
      <td>
        <%= f.datepicker :application_date, class: 'datepicker' %>
      </td>
    </tr>
    <tr>
      <td><strong>Konto bankowe</strong></td>
      <td>
        <%= f.radio_button :bank_account_destination, 'Zwrot podatku na konto klienta', :class => 'bank-radio' %>
        Zwrot podatku na konto klienta
        <%= f.radio_button :bank_account_destination, 'Zwrot podatku na konto firmy', :class => 'bank-radio' %>
        Zwrot podatku na konto firmy
      </td>
    </tr>
    <% if @clearing.bank_account_number.blank? %>
        <tr id="bank_account_number" style="display:none">
    <% else %>
        <tr id="bank_account_number">
    <% end %>
    <td><strong><%= f.label :bank_account_number, "Numer konta bankowego" %></strong></td>
    <td>
      <%= f.text_field :bank_account_number %>
    </td>
    </tr>
    <% if @clearing.bank_account_data.blank? %>
        <tr id="bank_account_data" style="display:none">
    <% else %>
        <tr id="bank_account_data">
    <% end %>
    <td><strong><%= f.label :bank_account_data, "Dane konta bankowego" %></strong></td>
    <td>
      <%= f.text_area :bank_account_data %>
    </td>
    </tr>
    <tr>
      <td><strong><%= f.label :commission_percent, "Prowizja %" %></strong></td>
      <td>
        <%= f.text_field :commission_percent %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :commission_min, "Prowizja minimalna" %></strong></td>
      <td>
        <%= f.text_field :commission_min %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :commission_currency, "Waluta prowizji" %></strong></td>
      <td>
        <%= f.select :commission_currency, options_for_select(%w(PLN EURO FUNT), @clearing.commission_currency) %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :rebate_calc, "Wyliczona kwota zwrotu" %></strong></td>
      <td>
        <%= f.text_field :rebate_calc %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :office_send_date, "Data wysłania do urzędu" %></strong></td>
      <td>
        <%= f.datepicker :office_send_date, class: 'datepicker' %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :rebate_final, "Kwota zwrotu z decyzji" %></strong></td>
      <td>
        <%= f.text_field :rebate_final %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :decision_date, "Data wydania decyzji" %></strong></td>
      <td>
        <%= f.datepicker :decision_date, class: 'datepicker' %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :commission_final, "Prowizja w PLN" %></strong></td>
      <td>
        <%= f.decimal_field :commission_final %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :commission_date, "Data wyliczenia prowizji" %></strong></td>
      <td>
        <%= f.datepicker :commission_date, class: 'datepicker' %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :exchange_rate, "Kurs waluty" %></strong></td>
      <td>
        <%= f.text_field :exchange_rate, value: @clearing.exchange_rate.nil? ? "" : number_with_precision(@clearing.exchange_rate, :precision => 4) %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :payment_date, "Data zapłaty" %></strong></td>
      <td>
        <%= f.datepicker :payment_date, class: 'datepicker' %>
      </td>
    </tr>

    <%= f.fields_for :bill do |bill_form| %>
        <tr>
          <th class="full" colspan="2">
            Rachunek do rozliczenia
          </th>
        </tr>
        <tr>
          <td><strong><%= bill_form.label :number, "Numer rachunku" %></strong></td>
          <td>
            <%= bill_form.text_field :number %>
          </td>
        </tr>
        <tr>
          <td><strong><%= bill_form.label :company_id, "Firma wystawiająca" %></strong></td>
          <td>
            <%= bill_form.collection_select :company_id, Company.all_cached, :id, :name %>
          </td>
        </tr>
        <tr>
          <td><strong><%= bill_form.label :issue_date, "Data wystawienia rachunku" %></strong></td>
          <td>
            <%= bill_form.datepicker :issue_date, class: 'datepicker' %>
          </td>
        </tr>
        <tr>
          <td><strong><%= bill_form.label :maturity_date, "Termin płatności" %></strong></td>
          <td>
            <%= bill_form.datepicker :maturity_date, class: 'datepicker' %>
          </td>
        </tr>
        <tr>
          <td><strong><%= bill_form.label :payment_form, "Forma płatności" %></strong></td>
          <td>
            <%= bill_form.select :payment_form, options_for_select(%w(Gotówka Przelew Pobranie), @clearing.bill.payment_form) %>
          </td>
        </tr>
        <tr>
          <td><strong><%= bill_form.label :title, "Tytuł usługi" %></strong></td>
          <td>
            <%= bill_form.select :title, options_for_select(['Usługa inkasa', 'Usługa biurowa'], @clearing.bill.title) %>
          </td>
        </tr>
        <tr>
          <td><strong><%= bill_form.label :units, "Jednostka miary" %></strong></td>
          <td>
            <%= bill_form.text_field :units, value: @clearing.bill.units.blank? ? "szt." : @clearing.bill.units %>
          </td>
        </tr>
        <tr>
          <td><strong><%= bill_form.label :total, "Kwota końcowa" %></strong></td>
          <td>
            <%= bill_form.decimal_field :total %>
          </td>
        </tr>
        <tr>
          <td><strong><%= bill_form.label :comment, "Dodatkowe informacje" %></strong></td>
          <td>
            <%= bill_form.text_area :comment %>
          </td>
        </tr>
    <% end %>
    <tr>
      <th class="full" colspan="2">
        Uzupełniające informacje
      </th>
    </tr>
    <tr>
      <td><strong><%= f.label :income_date, "Data wpływu na konto" %></strong></td>
      <td>
        <%= f.datepicker :income_date, class: 'datepicker' %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :income_exchange_rate, "Przelicznik bankowy(kurs)" %></strong></td>
      <td>
        <%= f.text_field :income_exchange_rate, value: @clearing.exchange_rate.nil? ? "" : number_with_precision(@clearing.income_exchange_rate, :precision => 4) %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :income_total, "Kwota wpływu na konto" %></strong></td>
      <td>
        <%= f.decimal_field :income_total, class: 'calculations' %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :bill_amount, "Kwota do zapłaty z rachunku" %></strong></td>
      <td>
        <%= f.decimal_field :bill_amount, class: 'calculations' %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :total_to_client, "Kwota do przelewu dla klienta" %></strong></td>
      <td>
        <%= f.decimal_field :total_to_client %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :to_client_date, "Data przelania klientowi" %></strong></td>
      <td>
        <%= f.datepicker :to_client_date, class: 'datepicker' %>
      </td>
    </tr>
    <tr>
      <th class="full" colspan="2">Inne informacje</th>
    </tr>
    <tr>
      <td><strong><%= f.label :description, "Opis / uwagi" %></strong></td>
      <td>
        <%= f.text_area :description %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :agent_id, "Agent pośredniczący" %></strong></td>
      <td>
        <%= f.collection_select :agent_id, Agent.all_cached, :id, :name, include_blank: "Brak" %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :agent_date, "Data rozliczenia z agentem" %></strong></td>
      <td>
        <%= f.datepicker :agent_date, class: 'datepicker' %>
      </td>
    </tr>
    <tr>
      <td><strong><%= f.label :archive, "Do archiwum" %></strong></td>
      <td>
        <%= f.check_box :archive, :confirm => "Czy jesteś pewien, że przenieść rozliczenie do archiwum?" %>
      </td>
    </tr>
    <tr>
      <% if @clearing.bill.nil? %>
          <td><%= f.submit "Zapisz" %></td>
          <td><%= f.submit "Zapisz i wystaw rachunek" %></td>
      <% else %>
          <td class="full" colspan="2"><%= f.submit "Zapisz" %></td>
      <% end %>
    </tr>
    </table>
    </div>
<% end %>
