<% if @clearing && !@clearing.new_record? %>
    <h3><%= @clearing.title %></h3>
    <ul class="nav">
      <li><%= link_to 'Szczegóły', @clearing %></li>
      <li><%= link_to 'Edycja', edit_clearing_path(@clearing) %></li>
      <li><%= link_to 'Usuń', @clearing, :confirm => "Czy jesteś pewien?", :method => :delete %></li>
      <li><%= link_to 'Wiadomości', clearing_messages_path(@clearing) %></li>
      <li><%= link_to 'Nowa wiadomości', new_clearing_message_path(@clearing) %></li>
      <li><%= link_to 'Historia', history_clearing_path(@clearing) %></li>
      <% if @clearing.bill.nil? %>
          <li><%= link_to 'Wystaw rachunek', new_clearing_bill_path(@clearing) %></li>
      <% end %>
      <li><%= link_to 'Koperta', home_envelope_path(:search => {:client_id => @clearing.client.id}) %></li>
    </ul>
<% end %>
<h3>Rozliczenia</h3>
<ul class="nav">
  <li><%= link_to 'Nowe rozliczenie', new_clearing_path %></li>
  <li><%= link_to 'Wszystkie rozliczenia', clearings_path %></li>
  <li></li>
</ul>