<% content_for :section_header do %>
    Historia zmian rozliczenia
<% end %>

<% content_for :history do %>
    <%= link_to "Rozliczenia w toku", root_url %> / <%= link_to "Szczegóły rozliczenia", clearing_path(@clearing) %> / <%= link_to "Historia rozliczenia", history_clearing_path(@clearing) %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Podgląd danych historycznych rozliczenia' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<p>
  Ilość wpisów w historii rozliczenia: <%= @clearing.audits.size %>
</p>
<% @clearing.audits.reverse.each do |audit| %>
    <div class="table">
      <table class="listing form" cellpadding="0" cellspacing="0">
        <tr>
          <th class="full" colspan="2">Wersja <%= audit.version %></th>
        </tr>
        <tr>
          <td>Akcja</td>
          <td><strong><%= audit.action %></strong></td>
        </tr>
        <tr>
          <td>Zmiany</td>
          <td><strong><%= audit.audited_changes %></strong></td>
        </tr>
        <tr>
          <td>Komentarz</td>
          <td><strong><%= audit.comment %></strong></td>
        </tr>
        <tr>
          <td>Autor</td>
          <td><strong><%= audit.user.name %></strong></td>
        </tr>
        <tr>
          <td>Data</td>
          <td><strong><%= l audit.created_at %></strong></td>
        </tr>
      </table>
    </div>
    <%# audit.revision.inspect %><%# zwraca instancję obiektu zmienione w chwili zmiany %>
<% end %>