<% content_for :section_header do %>
    Lista rozliczeń
<% end %>

<% content_for :history do %>
    <%= link_to "Strona główna", root_url %> /<%= link_to "Lista rozliczeń", clearings_path %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Lista wszystkich rekordów rozliczeń z bazy danych' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<%= content_tag :div, class: 'table' do %>
    <table class="listing jquery_datatable" cellpadding="0" cellspacing="0">
      <thead>
      <%= content_tag :tr do %>
          <%= content_tag :th, 'Klient' %>
          <%= content_tag :th, 'Kraj' %>
          <%= content_tag :th, 'Rok rozliczenia' %>
          <%= content_tag :th, 'Data złożenia wniosku' %>
          <%= content_tag :th, 'Data wysłania do urzędu' %>
          <%= content_tag :th, 'Zwrot' %>
          <%= content_tag :th, 'Data decyzji' %>
          <%= content_tag :th, 'Prowizja' %>
          <%= content_tag :th, 'Termin płatności' %>
          <%= content_tag :th, 'Data wpłaty' %>
          <%= content_tag :th, 'Akcje' %>
      <% end %>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @clearings) do |clearing| %>
          <%= content_tag :td, (link_to(clearing.client.lastname, client_path(clearing.client)) unless clearing.client.nil?), class: 'style1' %>
          <%= content_tag :td, (link_to(clearing.country.name, country_path(clearing.country)) unless clearing.country.nil?), class: 'style1' %>
          <%= content_tag :td, check_blank_value(clearing.year) %>
          <%= content_tag :td, check_blank_value(clearing.application_date) %>
          <%= content_tag :td, check_blank_value(clearing.office_send_date) %>
          <%= content_tag :td, check_blank_value(clearing.rebate_final) %>
          <%= content_tag :td, check_blank_value(clearing.decision_date) %>
          <%= content_tag :td, check_blank_value(clearing.commission_final) %>
          <%= content_tag :td, check_blank_value(clearing.maturity_date) %>
          <%= content_tag :td, check_blank_value(clearing.payment_date) %>

          <%= content_tag :td do %>
              <%= link_to image_tag('info.png'), clearing %>
              <%= link_to image_tag('modify.png'), edit_clearing_path(clearing) %>
              <%= link_to image_tag('delete.png'), clearing, :confirm => "Czy jesteś pewien?", :method => :delete %>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% end %>