<% content_for :section_header do %>
    Szczegóły rozliczenia
<% end %>

<% content_for :history do %>
    <%= link_to "Rozliczenia w toku", root_url %> / <%= link_to "Szczegóły rozliczenia", clearing_path(@clearing) %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Podgląd danych rozliczenia' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th class="full" colspan="2">Podstawowe informacje</th>
    </tr>
    <%= check_blank('Klient', @clearing.client.nil? ? 'Brak' : @clearing.client.lastname) %>
    <%= check_blank('Kraj', @clearing.country.nil? ? 'Brak' : @clearing.country.name) %>
    <%= check_blank 'Numer podatkowy', @clearing.tax_number %>
    <%= check_blank 'Rok rozliczenia', @clearing.year %>
    <%= check_blank('Data złożenia wniosku', @clearing.application_date.nil? ? 'Brak' : l(@clearing.application_date)) %>

    <%= check_blank 'Konto bankowe', @clearing.bank_account_destination %>
    <%= check_blank 'Numer konta bankowego', @clearing.bank_account_number %>
    <%= check_blank 'Dane konta bankowego', @clearing.bank_account_data %>

    <%= check_blank 'Prowizja %', number_with_precision(@clearing.commission_percent, precision: 2, delimiter: " ") %>
    <%= check_blank 'Prowizja min', number_with_precision(@clearing.commission_min, precision: 2, delimiter: " ") %>
    <%= check_blank 'Waluta prowizji', @clearing.commission_currency %>
    <%= check_blank 'Wyliczona kwota zwrotu', number_with_precision(@clearing.rebate_calc, precision: 2, delimiter: " ") %>
    <%= check_blank('Data wysłania do urzędu elektronicznie', @clearing.internet_send_date.nil? ? 'Brak' : l(@clearing.internet_send_date)) %>
    <%= check_blank('Data wysłania pocztą', @clearing.office_send_date.nil? ? 'Brak' : l(@clearing.office_send_date)) %>
    <%= check_blank 'Kwota zwrotu z decyzji', number_with_precision(@clearing.rebate_final, precision: 2, delimiter: " ") %>
    <%= check_blank('Data decyzji', @clearing.decision_date.nil? ? 'Brak' : l(@clearing.decision_date)) %>
    <%= check_blank 'Do zapłaty w PLN', number_with_precision(@clearing.commission_final, precision: 2, delimiter: " ") %>
    <%= check_blank 'Kurs waluty(NBP)', number_with_precision(@clearing.exchange_rate, precision: 4, delimiter: " ") %>
    <%= check_blank('Data wyliczenia prowizji', check_blank_value(@clearing.commission_date)) %>
    <%= check_blank('Data zapłaty', check_blank_value(@clearing.payment_date)) %>
    <tr>
      <th class="full" colspan="2">Uzupełniające informacje</th>
    </tr>
    <%= check_blank('Data wpływu na konto', check_blank_value(@clearing.income_date)) %>
    <%= check_blank 'Przelicznik bankowy', number_with_precision(@clearing.income_exchange_rate, precision: 4, delimiter: " ") %>
    <%= check_blank 'Kwota wpływu na konto', number_with_precision(@clearing.income_total, precision: 2, delimiter: " ") %>
    <%= check_blank 'Kwota do zapłaty z rachunku', number_with_precision(@clearing.bill_amount, precision: 2, delimiter: " ") %>
    <%= check_blank 'Kwota do przelania dla klienta', number_with_precision(@clearing.total_to_client, precision: 2, delimiter: " ") %>
    <%= check_blank('Data przelania klientowi', check_blank_value(@clearing.to_client_date)) %>
    <tr>
      <th class="full" colspan="2">Inne informacje</th>
    </tr>
    <%= check_blank('Agent pośredniczący', @clearing.agent.nil? ? 'Brak' : @clearing.agent.name) %>
    <%= check_blank('Data rozliczenia z agentem', check_blank_value(@clearing.agent_date)) %>
    <tr>
      <td>
        Przeniesiony do archiwum
      </td>
      <td><strong>
        <%= @clearing.archive? ? "Tak" : "Nie" %>
      </strong>
      </td>
    </tr>
    <tr>
      <th class="full" colspan="2">Opis / uwagi</th>
    </tr>
    <tr>
      <td colspan="2"><%= @clearing.description.blank? ? "Brak" : @clearing.description %></td>
    </tr>
    <tr>
      <th class="full" colspan="2">Inne informacje</th>
    </tr>
    <tr>
      <%= check_blank 'Użytkownik tworzący', @clearing.user.try(:name) %>
    </tr>
  </table>
</div>

<h3>Rachunek do rozliczenia</h3>
<% unless @clearing.bill.nil? %>
    <div class="table">
      <table class="listing form" cellpadding="0" cellspacing="0">
        <tr>
          <th class="full" colspan="2">Szczegóły rekordu rachunku</th>
        </tr>
        <%= check_blank 'Rozliczenie', @clearing.title %>
        <%= check_blank 'Numer', @clearing.bill.number %>
        <%= check_blank 'Firma', @clearing.bill.company.name %>
        <%= check_blank('Data wystawienia rachunku', check_blank_value(@clearing.bill.issue_date)) %>
        <%= check_blank('Termin płatności', check_blank_value(@clearing.bill.maturity_date)) %>
        <%= check_blank('Kwota końcowa', number_with_precision(@clearing.bill.total, precision: 2, delimiter: " ")) %>
        <%= check_blank 'Forma płatności', @clearing.bill.payment_form %>
        <%= check_blank 'Tytuł usługi', @clearing.bill.title %>
        <%= check_blank 'Jednostka miary', @clearing.bill.units %>
        <%= check_blank 'Użytkownik wystawiający', @clearing.bill.user.name %>
        <tr>
          <th class="full" colspan="2">Dodatkowe informacje</th>
        </tr>
        <tr>
          <td colspan="2"><%= @clearing.bill.comment.blank? ? "Brak" : @clearing.bill.comment %></td>
        </tr>
      </table>
    </div>
<% else %>
    <p>Brak wystawionego rachunku.</p>
<% end %>

<h3>Wiadomości do rozliczenia</h3>
<%= render partial: 'messages/messages_table', locals: {messages: @clearing.messages} %>

<h3>Załączniki do rozliczenia</h3>
<%= render partial: 'enclosures/enclosures_table', locals: {enclosures: @clearing.enclosures} %>