<% content_for :section_header do %>
    Szczegóły rozliczenia
<% end %>

<% content_for :history do %>
    <%= link_to "Strona główna", root_url %> / <%= link_to "Szczegóły rozliczenia", clearing_path(@clearing) %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Podgląd danych rozliczenia' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th class="full" colspan="2">Szczegóły rekordu rozliczenia</th>
    </tr>
    <%= check_blank('Klient', @clearing.client.lastname) unless @clearing.client.nil? %>
    <%= check_blank('Kraj', @clearing.country.name) unless @clearing.country.nil? %>
    <%= check_blank 'Numer podatkowy', @clearing.tax_number %>
    <%= check_blank 'Rok rozliczenia', @clearing.year %>
    <%= check_blank('Data złożenia wniosku', l(@clearing.application_date)) unless @clearing.application_date.nil? %>
    <%= check_blank 'Prowizja %', @clearing.commission_percent %>
    <%= check_blank 'Prowizja min', @clearing.commission_min %>
    <%= check_blank 'Waluta prowizji', @clearing.commission_currency %>
    <%= check_blank 'Wyliczona kwota zwrotu', @clearing.rebate_calc %>
    <%= check_blank('Data wysłania do urzędu', l(@clearing.office_send_date)) unless @clearing.office_send_date.nil? %>
    <%= check_blank 'Kwota zwrotu', @clearing.rebate_final %>
    <%= check_blank('Data decyzji', l(@clearing.decision_date)) unless @clearing.decision_date.nil? %>
    <%= check_blank('Agent pośredniczący', @clearing.agent.name) unless @clearing.agent.nil? %>
    <tr>
      <td>
        Przeniesiony do archiwum
      </td>
      <td><strong>
        <%= @clearing.archive? ? "Tak" : "Nie" %>
      </strong>
      </td>
    </tr>
    <tr>
      <th class="full" colspan="2">Opis / uwagi</th>
    </tr>
    <tr>
      <td colspan="2"><%= @clearing.description.blank? ? "Brak" : @clearing.description %></td>
    </tr>
  </table>
</div>

<h3>Rachunek do rozliczenia</h3>
<% unless @clearing.bill.nil? %>
    <div class="table">
      <table class="listing form" cellpadding="0" cellspacing="0">
        <tr>
          <th class="full" colspan="2">Szczegóły rekordu rachunku</th>
        </tr>
        <%= check_blank 'Rozliczenie', @clearing.bill.clearing.title %>
        <%= check_blank 'Numer', @clearing.bill.number %>
        <%= check_blank 'Firma', @clearing.bill.company.name %>
        <%= check_blank('Data wyliczenia prowizji', l(@clearing.bill.commission_date)) unless @clearing.bill.commission_date.nil? %>
        <%= check_blank 'Kurs', @clearing.bill.exchange_rate %>
        <%= check_blank('Termin płatności', l(@clearing.bill.maturity_date)) unless @clearing.bill.maturity_date.nil? %>
        <%= check_blank 'Prowizja końcowa', @clearing.bill.commission_final %>
        <%= check_blank('Data wpłaty', l(@clearing.bill.payment_date)) unless @clearing.bill.payment_date.nil? %>
        <%= check_blank 'Użytkownik wystawiający', @clearing.bill.user.name %>
        <tr>
          <th class="full" colspan="2">Dodatkowe informacje</th>
        </tr>
        <tr>
          <td colspan="2"><%= @clearing.bill.comment.blank? ? "Brak" : @bill.comment %></td>
        </tr>
      </table>
    </div>
<% else %>
    <p>Brak wystawionego rachunku.</p>
<% end %>

<h3>Wiadomości do rozliczenia</h3>
<%= render partial: 'messages/messages_table', locals: {messages: @clearing.messages} %>