<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @clearing.client %>
</p>

<p>
  <b>Country:</b>
  <%= @clearing.country %>
</p>

<p>
  <b>Tax number:</b>
  <%= @clearing.tax_number %>
</p>

<p>
  <b>Year:</b>
  <%= @clearing.year %>
</p>

<p>
  <b>Application date:</b>
  <%= @clearing.application_date %>
</p>

<p>
  <b>Commission percent:</b>
  <%= @clearing.commission_percent %>
</p>

<p>
  <b>Commission min:</b>
  <%= @clearing.commission_min %>
</p>

<p>
  <b>Commission currency:</b>
  <%= @clearing.commission_currency %>
</p>

<p>
  <b>Rebate calc:</b>
  <%= @clearing.rebate_calc %>
</p>

<p>
  <b>Office send date:</b>
  <%= @clearing.office_send_date %>
</p>

<p>
  <b>Rebate final:</b>
  <%= @clearing.rebate_final %>
</p>

<p>
  <b>Decision date:</b>
  <%= @clearing.decision_date %>
</p>

<p>
  <b>Commission final:</b>
  <%= @clearing.commission_final %>
</p>

<p>
  <b>Commission date:</b>
  <%= @clearing.commission_date %>
</p>

<p>
  <b>Exchange rate:</b>
  <%= @clearing.exchange_rate %>
</p>

<p>
  <b>Maturity date:</b>
  <%= @clearing.maturity_date %>
</p>

<p>
  <b>Payment date:</b>
  <%= @clearing.payment_date %>
</p>

<p>
  <b>Account number:</b>
  <%= @clearing.account_number %>
</p>


<%= link_to 'Edit', edit_clearing_path(@clearing) %> |
<%= link_to 'Back', clearings_path %>
