<% content_for :section_header do %>
    Szczegóły rozliczenia
<% end %>

<% content_for :history do %>
    <%= link_to "Strona główna", root_url %> / <%= link_to "Szczegóły rozliczenia", clearing_path(@clearing) %> / <%= link_to 'Wstecz', :back %>
<% end %>

<% content_for :help do %>
    <% help_block 'Podgląd danych rozliczenia' %>
<% end %>

<% content_for :main_menu do %>
    <% render 'main_menu' %>
<% end %>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th class="full" colspan="2">Szczegóły rekordu rozliczenia</th>
    </tr>
    <%= check_blank('Klient', @clearing.client.lastname) unless @clearing.client.nil? %>
    <%= check_blank('Kraj', @clearing.country.name) unless @clearing.country.nil? %>
    <%= check_blank 'Numer podatkowy', @clearing.tax_number %>
    <%= check_blank 'Rok rozliczenia', @clearing.year %>
    <%= check_blank('Data złożenia wniosku', l(@clearing.application_date)) unless @clearing.application_date.nil? %>
    <%= check_blank 'Prowizja %', @clearing.commission_percent %>
    <%= check_blank 'Prowizja min', @clearing.commission_min %>
    <%= check_blank 'Wyliczona kwota zwrotu', @clearing.rebate_calc %>
    <%= check_blank('Data wysłania do urzędu', l(@clearing.office_send_date)) unless @clearing.office_send_date.nil? %>
    <%= check_blank 'Kwota zwrotu', @clearing.rebate_final %>
    <%= check_blank('Data decyzji', l(@clearing.decision_date)) unless @clearing.decision_date.nil? %>
    <%= check_blank 'Prowizja', @clearing.commission_final %>
    <%= check_blank 'Prowizja %', @clearing.commission_percent %>
    <%= check_blank('Data wyliczenia prowizji', l(@clearing.commission_date)) unless @clearing.commission_date.nil? %>
    <%= check_blank 'Kurs', @clearing.exchange_rate %>
    <%= check_blank('Termin płatności', l(@clearing.maturity_date)) unless @clearing.maturity_date.nil? %>
    <%= check_blank('Data wpłaty', l(@clearing.payment_date)) unless @clearing.payment_date.nil? %>
    <%= check_blank 'Numer rachunku', @clearing.account_number %>
    <tr>
      <th class="full" colspan="2">Opis / uwagi</th>
    </tr>
    <tr>
      <td colspan="2"><%= @clearing.description.blank? ? "Brak" : @clearing.description %></td>
    </tr>
  </table>
</div>