<div id="header">
  <ul id="top-navigation">
    <!--  <li><a href="#" class="active">Homepage</a></li>
  <li><a href="#">Users</a></li>
  <li><a href="#">Orders</a></li>
  <li><a href="#">Settings</a></li>
  <li><a href="#">Statistics</a></li>
  <li><a href="#">Design</a></li>
  <li><a href="#">Contents</a></li> -->
    <% if user_signed_in? %>
        <li>
          <%= link_to 'Rozliczenia w toku', root_url %>
        </li>
        <li>
          <%= link_to 'Wszystkie rozliczenia', clearings_path, class: 'link' %>
        </li>
        <li>
          <%= link_to 'Klienci', clients_path, class: 'link' %>
        </li>
        <li>
          <%= link_to 'Rachunki', bills_path, class: 'link' %>
        </li>
        <li>
          <%= link_to 'Wiadomości', messages_path, class: 'link' %>
        </li>
        <li>
          <%= link_to 'Raporty', home_reports_path, class: 'link' %>
        </li>
        <% if current_user.admin? %>
            <li>
              <%= link_to 'Użytkownicy', users_path, class: 'link' %>
            </li>
            <li>
              <%= link_to 'Administracja', home_administration_path, class: 'link' %>
            </li>
        <% end %>
        <li class='logout_button'>
          <%= link_to('Wyloguj', destroy_user_session_path, :method => 'delete') %>
        </li>
    <% else %>
        <li>
          <%= link_to('Zaloguj', new_user_session_path) %>
        </li>
    <% end %>
  </ul>
</div>